@model IEnumerable<WebOrders.Models.order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.paymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer.nameCustomer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.paymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer.nameCustomer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idOrder }) |
            @Html.ActionLink("Details", "Details", new { id=item.idOrder }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idOrder })
        </td>
    </tr>
}

</table>
